// 줄어든 포스트 목록 스타일
.post-list {
  font-size: 0.85rem;
  margin-top: 2rem;

  .post-link {
    font-weight: normal;
    color: #555;
  }

  .post-meta {
    font-size: 0.75rem;
    color: #999;
  }
}

.highlight {
  background-color: #fffb91;
  padding: 0.1em 0.2em;
  border-radius: 3px;
}
